{% extends 'view/page_structure.html' %}
{% load hidden_fields %}

{% block view %}
  <div class="card-body">
    <div class="card-tools">
      <table class="table table-bordered">
        <tbody>
          {% for field in object %}
            {% if not field.name|hidden_fields %}
            <tr>
              <th>{{ field.name|title }}</th>
              <td>
                {% if field.link %}
                  <a href="{{ field.link }}">{{ field.value }}</a>
                {% else %}
                  {% if not field.value == None %}
                    {{ field.value }}
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% for formset in formsets %}
      {% if formset %}
      <table class="table table-bordered">
        <tr>
          {% for field in formset.0 %}
            {% if not field.name|hidden_fields %}
              <th>{{ field.name|title }}</th>
            {% endif %}
          {% endfor %}
        </tr>
        {% for row in formset %}
        <tr>
            {% for field in row %}
              {% if not field.name|hidden_fields %}
                <td>{{ field.value }}</td>
              {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
      </table>
      {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
