{% extends 'templates/view/page_structure.html' %}
{% load verbose_names %}

{% block view %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">{{ tableObj.verbose_name }} Details</h3>
  </div>
  <div class="card-body">
    <div class="card-tools">
      <table class="table table-bordered">
        <tbody>
          {% for key, value in object.values.0.items %}
            {% if not key == 'id' %}
            <tr>
              <th>{% get_verbose_field_name tableObj.model key %}</th>
              <td>{{ value }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-danger float-right ml-2"><i class="fa fa-trash-alt"></i> Delete</button>
    <button type="submit" class="btn btn-success float-right"><i class="fa fa-edit"></i> Edit</button>
  </div>
</div>
{% endblock %}
