{% extends 'view/page_structure.html' %}
{% load hidden_fields %}

{% block view %}
  <div class="card-body">
    <div class="card-tools">
      <table class="table table-bordered">
        <tbody>
          {% for field in object %}
            {% if not field.name|hidden_fields %}
            <tr>
              <th>{{ field.name|title }}</th>
              <td>
                {% if field.link %}
                  <a href="{{ field.link }}">{{ field.value }}</a>
                {% else %}
                  {{ field.value }}
                {% endif %}
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
