{% extends 'page_structure.html' %}

{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h2>{% if object.0.manufacturer %}{{ object.0.manufacturer.name }}{% endif %} {{ object.0.value }}{% if object.0.tag %} - {{ object.0.tag }}{% endif %}</h2>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        {% block view %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
