{% load verbose_names %}
{{ formset.formset.management_form }}
<input type="hidden" name="purchaseorderrow_set-TOTAL_FORMS" value="3" id="id_purchaseorderrow_set-TOTAL_FORMS">
<input type="hidden" name="purchaseorderrow_set-INITIAL_FORMS" value="0" id="id_purchaseorderrow_set-INITIAL_FORMS">
<input type="hidden" name="purchaseorderrow_set-MIN_NUM_FORMS" value="0" id="id_purchaseorderrow_set-MIN_NUM_FORMS">
<input type="hidden" name="purchaseorderrow_set-MAX_NUM_FORMS" value="1000" id="id_purchaseorderrow_set-MAX_NUM_FORMS">
<table class="table table-bordered">
  <thead>                  
    <tr>
      {% for field in formset.formset.0 %}
        <th>{% get_verbose_field_name formset.model field.name %}{% if field.field.required %}<span class="text-danger">*</span>{% endif %}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>   
    {% for form in formset.formset %}
    <tr>
      {% for field in form %}
        <td>{{ field }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
