{% load verbose_names %}
  <div class="row">
    {% for field in form %}
      <div class="col-6">
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{% get_verbose_field_name form.Meta.model field.name %}{% if field.field.required %}<span class="text-danger">*</span>{% endif %}</label>
          {{ field }}
        </div>
      </div>
    {% endfor %}
  </div>

<table class="table table-bordered">
  <thead>                  
    <tr>
      {% for field in formset.0 %}
        <th>{{ field.name|title }}{% if field.field.required %}<span class="text-danger">*</span>{% endif %}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>   
    {% for form in formset %}
    <tr>
      {% for field in form %}
        <td>{{ field }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
