{% load verbose_names %}
<span class="add-row btn btn-success float-right mb-2"><i class="fa fa-plus"></i> Add Row</span>
<table class="table table-bordered">
  <thead>                  
    <tr>
      {% for field in formset.formset.0 %}
        <th>{% get_verbose_field_name formset.model field.name %}{% if field.field.required %}<span class="text-danger">*</span>{% endif %}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>   
    {% for form in formset.formset %}
    <tr class="dynamic-form">
      {% for field in form %}
        <td>{{ field }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ formset.formset.management_form }}
  <script>
  $(function () {
        $('.add-row').click(function() {
    	    return addForm(this, '{{ formset.formset.prefix }}');
        });
        $('.delete-row').click(function() {
    	    return deleteForm(this, '{{ formset.formset.prefix }}');
        })
    })
  </script>
