{% extends 'forms/page_structure.html' %}

{% block formcontent %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h2>{{ form.Meta.name }}</h2>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          {% include 'forms/form_generator.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
