{% extends 'forms/page_structure.html' %}

{% block formcontent %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h2>{{ form.Meta.name }}</h2>
      </div>
    </div>
  </div>
</div>
<div class="content">
<form id="form-{{ form.Meta.name|slugify }}" method="POST" novalidate>
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-primary card-outline card-outline-tabs">
          {% if formsets %}
          <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="form-tabs" data-toggle="pill" href="#form-tabs-home" role="tab" aria-controls="form-tabs-home" aria-selected="false">Main</a>
              </li>
              {% for formset in formsets %}
                <li class="nav-item">
                  <a class="nav-link" id="form-tabs" data-toggle="pill" href="#form-tabs-home-{{ formset.name|slugify }}" role="tab" aria-controls="form-tabs-home-{{ formset.name|slugify }}" aria-selected="false">{{ formset.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-four-tabContent">
              <div class="tab-pane fade show active" id="form-tabs-home" role="tabpanel" aria-labelledby="form-tabs">  
                {% include 'forms/form_generator.html' %}
              </div>
              {% for formset in formsets %}
                <div class="tab-pane fade" id="form-tabs-home-{{ formset.name|slugify }}" role="tabpanel" aria-labelledby="form-tabs">  
                  {% include 'forms/formset_generator.html' with formset=formset %}
                </div>
              {% endfor %}
            </div>
          </div>
          
          <div class="card-footer">
            <input type="submit" class="btn btn-primary" value="Submit">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
