{% extends 'templates/tables/page_structure.html' %}

{% block table %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Asset Tag</th>
        <th scope="col">Model</th>
        <th scope="col">Department</th>
      </tr>
    </thead>
    <tbody>
      {% for row in table %}
      <tr>
        <td><a href="view/{{ row.id }}/">{{ row.name }}</a></td>
        <td>{{ row.tag }}</td>
        <td>{{ row.model.name }}</td>
        <td>{{ row.department.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
