{% extends 'page_structure.html' %}

{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h2>{{ tableObj.verbose_plural_name|title }}</h2>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="float-right ml-3">
              <a class="btn btn-success btn-sm" href="add"><i class="fa fa-plus"></i> New</a>
            </div>

            {% if tableObj.search_fields %}
            <form class="form-inline float-right" method="get">
              <div class="input-group input-group-sm">
                <input type="text" name="search" value="{{ request.GET.search }}" class="form-control float-right" placeholder="Search">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </form>
            {% endif %}
          </div>
          {% block table %}{% endblock %}
          <div class="card-footer">
            <div class="card-tools">
              <ul class="pagination pagination-sm float-right">
                {% if table.has_previous or table.has_next %}
                {% if table.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ table.previous_page_number }}">«</a></li>
                {% endif %}
                {% for page in paginatorObj.page_range %}
                <li class="page-item {% if page == table.number %} active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
                {% if table.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ table.next_page_number }}">»</a></li>
                {% endif %}
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}