{% extends 'page_structure.html' %}

{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h2>{{ tableObj.verbose_name|title }}</h2>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">All {{ tableObj.verbose_name|title }}</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm">
                <a type="submit" class="btn btn-success" href="add"><i class="fa fa-plus"></i></a>
              </div>
            </div>
          </div>
          {% block table %}{% endblock %}
          <div class="card-footer">
            <div class="card-tools">
              <ul class="pagination pagination-sm float-right">
                {% if table.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ table.previous_page_number }}">«</a></li>
                {% endif %}
                {% for page in paginatorObj.page_range %}
                <li class="page-item {% if page == table.number %} active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
                {% if table.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ table.next_page_number }}">»</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
