{% extends 'page_structure.html' %}

{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h2>Hello, {{ request.user.first_name|title }}</h2>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Total Assets</span>
            <span class="info-box-number">
              10
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
