{% extends 'page_structure.html' %}

{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h2>Hello, {{ request.user.first_name|title }}</h2>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ data.asset_count }}</h3>
            <p>Assets</p>
          </div>
          <div class="icon">
            <i class="fa fa-boxes"></i>
          </div>
          <a href="/assets/" class="small-box-footer">View Assets <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ data.component_count }}</h3>
            <p>Components</p>
          </div>
          <div class="icon">
            <i class="fa fa-keyboard"></i>
          </div>
          <a href="/components/" class="small-box-footer">View Components <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{ data.consumable_count }}</h3>
            <p>Consumables</p>
          </div>
          <div class="icon">
            <i class="fa fa-tint"></i>
          </div>
          <a href="/consumables/consumables/" class="small-box-footer">View Consumables <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
